.container {
    
    .body {
        display: grid;
        grid-template-columns: 20vw auto;

        .contents {
            .contentHeader {
                font-size: 1.5rem;
                text-transform: uppercase;
                text-align: center;
                padding-right: 19vw;
            }

            .filterSection {
                text-align: right;
            }
        }
    }
}
