@import "../../styles/variables";

.container {
    height:calc( 100vh - 16px);
    overflow: hidden;
    color: $PrimaryFontColor;
    font-family: $PrimaryFont;
    
    .scrollArea {
        // overflow: auto;
        height: calc(100vh - 125px);

        .path {
            margin-top: 20px;
        }

        .contentHeader {
            font-size: 1.3rem;
            text-transform: uppercase;
            text-align: center;
        }

        .filterSection {
            text-align: right;

            .selectBox {
                margin-bottom: 20px;
            }
        }

        .body {
            display: grid;
            grid-template-columns: auto auto;

            .contents {
                // max-width: 1200px;

                .productsSection {
                    display: grid;
                    // background-color: #ffd5d5;

                    .products {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        gap: 20px;
                        margin: 10px;

                        .product {
                            border-radius: 5%;
                            overflow: hidden;
                            display: inline-block;
                            // background-color: rgb(219, 114, 114);
                            // height: 100%;
                            width: 100%;
                            font-size: 0.8rem;

                            &:hover {
                                box-shadow: 1px 1px 5px rgb(214, 214, 214);
                            }

                            &:hover .productImg {
                                transform: scale(1.05);
                            }

                            .productImg {
                                transition-duration: 0.6s;
                                cursor: pointer;

                                img {
                                    object-fit: cover;
                                    height: 150px;
                                    width: 100%;
                                }
                            }
                            .productInfo {
                                box-sizing: border-box;
                                padding: 10px;

                                .pName {
                                    // width: 100%;
                                    // white-space: nowrap;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    font-weight: normal;

                                    &:hover {
                                        cursor: pointer;
                                        color: $AccentColor2;
                                    }
                                }
                                .pCategory {
                                    color: $SecondaryFontColor;
                                }
                                .pPrice {
                                    font-size: 1.4em;
                                    color: $AccentColor1;
                                }
                            }
                        }
                    }

                    .pagination {
                        // background-color: rgb(176, 137, 214);
                        display: flex;
                        justify-content: right;
                        margin: 20px 0;
                    }
                }

                // @media only screen and (min-width: 1210px) {
                //     .productsSection {
                //         display: grid;
                //         // background-color: #ffd5d5;

                //         .products {
                //             display: grid;
                //             grid-template-columns: repeat(4, 1fr);
                //             gap: 30px;
                //             margin: 10px;

                //             .product {
                //                 display: inline-block;
                //                 // background-color: rgb(219, 114, 114);
                //                 // height: 200px;
                //                 width: 100%;
                //                 font-size: 0.9rem;
                //                 border-radius: 5%;

                //                 .productImg {
                //                     img {
                //                         object-fit: cover;
                //                         height: 150px;
                //                         width: 100%;
                //                     }
                //                 }
                //                 .pName {
                //                 }
                //                 .pCategory {
                //                 }
                //                 .pPrice {
                //                 }
                //             }
                //         }
                //     }
                // }

                @media only screen and (max-width: 769px) {
                    .productsSection {
                        display: grid;
                        // background-color: #ffd5d5;

                        .products {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 10px;
                            margin: 10px;

                            .product {
                                display: inline-block;
                                // background-color: rgb(219, 114, 114);
                                // height: 200px;
                                width: 100%;
                                font-size: 0.9rem;

                                .productImg {
                                    img {
                                        object-fit: cover;
                                        height: 150px;
                                        width: 100%;
                                    }
                                }
                                .pName {
                                }
                                .pCategory {
                                }
                                .pPrice {
                                }
                            }
                        }
                    }
                }
                @media only screen and (max-width: 600px) {
                    .productsSection {
                        display: grid;
                        // background-color: #ffd5d5;

                        .products {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            gap: 10px;
                            margin: 10px;

                            .product {
                                display: inline-block;
                                // background-color: rgb(219, 114, 114);
                                // height: 200px;
                                width: 100%;
                                font-size: 0.9rem;

                                .productImg {
                                    img {
                                        object-fit: cover;
                                        height: 150px;
                                        width: 100%;
                                    }
                                }
                                .pName {
                                }
                                .pCategory {
                                }
                                .pPrice {
                                }
                            }
                        }
                    }
                }
            }
        }

        
    }
}
