@import "../../styles/variables";

.container {
    // display: grid;
    justify-content: center;

    .pageContent {  
        .pageName {
            font-size: 1.3rem;
            text-align: center;
            padding-block: 30px;
        }
        .content{
            display: flex;
            justify-content: center;
            
            .table{
                max-width: 1280px;   
                
            }
        }
    }
}
