@import "../../styles/variables";

.container {
    width: 100vw;

    .navBar {
        position: relative;

        .navHeader {
            align-items: center;
            display: flex;
            justify-content: space-between;

            .search {
                width: 20%;
            }
            .logo {
                position: absolute;
                left: 50%;
                color: rgb(255, 119, 0);
                font-size: 2rem;
                transform: translate(-50%);
            }
            .accInfo {
                text-transform: uppercase;
            }
        }

        .navBody {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 6vw;
        }

        .gap {
            margin: 30px 0;
        }
    }
}
